{% load bootstrap4 %}
{% load bootstrap_icons %}
{% block authForm %}
<div class="d-flex flex-row align-items-start justify-content-between col-12" style="padding: 16px 0 0 0">
    <form method="GET" action="./credentials" class="col-12">
        <div class="form-row col-12 d-flex flex-row align-items-start justify-content-start">
            <div class="form-group col-10">
                <div class="input-group">
                    <input
                            class="form-control py-2 border-right-0 border"
                            type="search"
                            name="q"
                            value="{% if active_tab == 'credentials' %} {{query}} {% endif %}"
                            placeholder="Suche..."/>
                </div>
            </div>
            <button type="submit" class="btn col-1" style="background-color: #305695; color: white">
                {% bs_icon 'search' size='1.5em' %}
            </button>
        </div>
    </form>
</div>

<a class="col-3 d-flex justify-content-start" style="margin: 3rem 0 16px 0;"
   href="{% url 'inventar:credentials-create' %}"
   style="color: #ffffff; text-decoration: none">
    <button type="button" class="btn btn-secondary">
        {% bs_icon 'plus' size='1.5em' %} Initiale Kennwörter
    </button>
</a>
<table class="table table-sm table-striped">
    <thead style="color: #305695">
    <tr>
        <th scope="col"></th>
        <th scope="col">account_type</th>
        <th scope="col">username</th>
        <th scope="col">password</th>
    </tr>
    </thead>
    <tbody>
    {% for credential in credential_list %}
    <tr class="{% if credential.borrowed %} text-warning {% endif %}">
        <th scope="row">
            {% bs_icon 'eye-slash' size='1.5em' %}
        </th>
        <th scope="row">{{ credential.account_type }}</th>
        <td>{{ credential.username }}</td>
        <td>{{ credential.password }}</td>
        <td>
            <a href="{% url 'inventar:credentials-edit' credential.id %}" style="color: #305695">
                {% bs_icon 'pen' size='1.5em' %}
            </a>
            {% if credential.borrowed == False %}
            <a href="{% url 'inventar:credentials-delete' credential.id%}" style="color: #c71b1b">
                {% bs_icon 'trash' size='1.5em' %}
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}