{% load bootstrap4 %}
{% load bootstrap_icons %}
{% block authForm %}
<div class="d-flex flex-row align-items-start justify-content-between col-12" style="padding: 16px 0 0 0">
    <form method="GET" action="{% url 'inventar:administration' 'employee'%}" class="col-12">
        <div class="form-row col-12 d-flex flex-row align-items-start justify-content-start">
            <div class="form-group col-10">
                <div class="input-group">
                    <input
                            class="form-control py-2 border-right-0 border"
                            type="search"
                            name="q"
                            value="{% if active_tab == 'employee' %} {{query}} {% endif %}"
                            placeholder="Suche..."/>
                </div>
            </div>
            <button type="submit" class="btn col-1"
                    style="background-color: #305695;
                    color: white">{% bs_icon 'search' size='1.5em' %}
            </button>
        </div>
    </form>
</div>
<a class="col-3 d-flex justify-content-start" style="margin: 3rem 0 16px 0;" href="{% url 'inventar:employee-create' %}"
   style="color: #ffffff; text-decoration: none">
    <button type="button" class="btn btn-secondary">
        {% bs_icon 'plus' size='1.5em' %} Mitarbeiter
    </button>
</a>
<table class="table table-sm table-striped">
    <thead style="color: #305695">
    <tr>
        <th scope="col"></th>
        <th scope="col">personnel_number</th>
        <th scope="col">first_name</th>
        <th scope="col">last_name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
        <th scope="col">abbreviation</th>
        <th scope="col">contract_type</th>
        <th scope="col">status</th>
        <th scope="col">actions</th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <th scope="row">
            {% bs_icon 'people' size='1.5em' %}
        </th>
        <th scope="row">{{ employee.personnel_number }}</th>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.abbreviation }}</td>
        <td>{{ employee.contract_type }}</td>
        <td>{{ employee.status }}</td>
        <td>
            <a href="{% url 'inventar:employee-edit' employee.personnel_number %}" style="color: #305695">
                {% bs_icon 'pen' size='1.5em' %}
            </a>
            <a href="{% url 'inventar:employee-delete' employee.personnel_number%}" style="color: #c71b1b">
                {% bs_icon 'trash' size='1.5em' %}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}