{% load bootstrap4 %}
{% load bootstrap_icons %}
{% block authForm %}
<div class="d-flex flex-row align-items-start justify-content-between col-12" style="padding: 16px 0 0 0">
    <form method="GET" action="{% url 'inventar:administration' 'hardware'%}" class="col-12">
        <div class="form-row col-12 d-flex flex-row align-items-start justify-content-start">
            <div class="form-group col-10">
                <div class="input-group">
                    <input
                            class="form-control py-2 border-right-0 border"
                            type="search"
                            name="q"
                            value="{% if active_tab == 'hardware' %} {{query}} {% endif %}"
                            placeholder="Suche..."/>
                </div>
            </div>
            <button type="submit" class="btn col-1"
                    style="background-color: #305695;
                    color: white">{% bs_icon 'search' size='1.5em' %}
            </button>
        </div>
    </form>
</div>

<a class="col-3 d-flex justify-content-start" style="margin: 3rem 0 16px 0;" href="{% url 'inventar:hardware-create' %}"
   style="color: #ffffff; text-decoration: none">
    <button type="button" class="btn btn-secondary">
        {% bs_icon 'laptop' size='1.5em' %} Hardware
    </button>
</a>
<table class="table table-sm table-striped">
    <thead style="color: #305695">
    <tr>
        <th scope="col"></th>
        <th scope="col">hardware_type</th>
        <th scope="col">description</th>
        <th scope="col">serial_nummer</th>
        <th scope="col">hint</th>
        <th scope="col">actions</th>
    </tr>
    </thead>
    <tbody>
    {% for hardware in hardware_list %}
    <tr class="{% if hardware.borrowed %} text-warning {% endif %}">
        <th scope="row">
            {% bs_icon 'laptop' size='1.5em' %}
        </th>
        <th scope="row">{{ hardware.hardware_type }}</th>
        <th scope="row">{{ hardware.description }}</th>
        <th scope="row">{{ hardware.serial_nummer }}</th>
        <th scope="row">{{ hardware.hint }}</th>
        <td>
            <a href="{% url 'inventar:hardware-edit' hardware.id %}" style="color: #305695">
                {% bs_icon 'pen' size='1.5em' %}
            </a>

            {% if hardware.borrowed == False %}
            <a href="{% url 'inventar:hardware-delete' hardware.id%}" style="color: #c71b1b">
                {% bs_icon 'trash' size='1.5em' %}
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}