{% load bootstrap4 %}
{% load bootstrap_icons %}
{% block authForm %}
<div class="d-flex flex-row align-items-start justify-content-between col-12" style="padding: 16px 0 0 0">
    <form method="GET" action="./sim" class="col-12">
        <div class="form-row col-12 d-flex flex-row align-items-start justify-content-start">
            <div class="form-group col-10">
                <div class="input-group">
                    <input
                            class="form-control py-2 border-right-0 border"
                            type="search"
                            name="q"
                            value="{% if active_tab == 'sim' %} {{query}} {% endif %}"
                            placeholder="Suche..."/>
                </div>
            </div>
            <button type="submit" class="btn col-1" style="background-color: #305695; color: white">
                {% bs_icon 'search' size='1.5em' %}
            </button>
        </div>
    </form>
</div>

<a class="col-3 d-flex justify-content-start" style="margin: 3rem 0 16px 0;" href="{% url 'inventar:sim-card-create' %}"
   style="color: #ffffff; text-decoration: none">
    <button type="button" class="btn btn-secondary">
        {% bs_icon 'plus' size='1.5em' %} Sim-Karten
    </button>
</a>
<table class="table table-sm table-striped">
    <thead style="color: #305695">
    <tr>
        <th scope="col"></th>
        <th scope="col">phone_number</th>
        <th scope="col">card_number</th>
        <th scope="col">PIN</th>
        <th scope="col">PUK</th>
    </tr>
    </thead>
    <tbody>
    {% for sim in sim_card_list %}
    <tr class="{% if sim.borrowed %} text-warning {% endif %}">
        <th scope="row">
            {% bs_icon 'sim' size='1.5em' %}
        </th>
        <th scope="row">{{ sim.phone_number }}</th>
        <td>{{ sim.card_number }}</td>
        <td>{{ sim.PIN }}</td>
        <td>{{ sim.PUK }}</td>
        <td>
            <a href="{% url 'inventar:sim-card-edit' sim.id %}" style="color: #305695">
                {% bs_icon 'pen' size='1.5em' %}
            </a>

            {% if sim.borrowed == False %}
            <a href="{% url 'inventar:sim-card-delete' sim.id%}" style="color: #c71b1b">
                {% bs_icon 'trash' size='1.5em' %}
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}