{% extends 'inventar/base.html' %}
{% load bootstrap4 %}
{% load bootstrap_icons %}

{% block title %} Verwaltung {% endblock %}

{% block authForm %}
<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'employee' %} active {% endif %}" id="employee-tab" data-toggle="tab"
           href="#employee" role="tab"
           aria-controls="employee"
           aria-selected="true" style="color: #305695"> {% bs_icon 'people' %} Mitarbeiter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'credentials' %} active {% endif %}" id="credentials-tab"
           data-toggle="tab" href="#credentials" role="tab"
           aria-controls="credentials"
           aria-selected="false"
           style="color: #305695">{% bs_icon 'eye-slash' %} Initiale Kennwörter</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'hardware' %} active {% endif %}" id="hardware-tab" data-toggle="tab"
           href="#hardware" role="tab"
           aria-controls="hardware"
           aria-selected="false"
           style="color: #305695">{% bs_icon 'laptop' %}Hardware</a>
    </li>
    <li class="nav-item {% if active_tab == 'sim' %} active {% endif %}">
        <a class="nav-link" id="sim-card-tab" data-toggle="tab" href="#sim-card" role="tab"
           aria-controls="sim-card"
           aria-selected="false"
           style="color: #305695">{% bs_icon 'sim' %}Sim Karten</a>
    </li>
    <li class="nav-item {% if active_tab == 'key' %} active {% endif %}">
        <a class="nav-link" id="key-tab" data-toggle="tab" href="#key" role="tab"
           aria-controls="key"
           aria-selected="false"
           style="color: #305695">{% bs_icon 'key' %}Schlüssel</a>
    </li>
    <li class="nav-item {% if active_tab == 'others' %} active {% endif %}">
        <a class="nav-link" id="others-tab" data-toggle="tab" href="#others" role="tab"
           aria-controls="others"
           aria-selected="false"
           style="color: #305695">{% bs_icon 'box' %}Sonstiges</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade {% if active_tab == 'employee' %} show active {% endif %}"
         id="employee"
         role="tabpanel" aria-labelledby="employee-tab"
         style="width:90vw;height: 95vh;">
        {% block employee %}{% include 'inventar/tabs/employee.html' %}{% endblock %}
    </div>

    <div class="tab-pane fade {% if active_tab == 'credentials' %} show active {% endif %}" id="credentials"
         role="tabpanel" aria-labelledby="credentials-tab">
        {% block credentials %}{% include 'inventar/tabs/credentials.html' %}{% endblock %}
    </div>
    <div class="tab-pane fade {% if active_tab == 'hardware' %} show active {% endif %}" id="hardware" role="tabpanel"
         aria-labelledby="hardware-tab">
        {% block hardware %}{% include 'inventar/tabs/hardware.html' %}{% endblock %}
    </div>
    <div class="tab-pane fade {% if active_tab == 'sim' %} show active {% endif %}" id="sim-card" role="tabpanel"
         aria-labelledby="sim-card-tab">
        {% block sim-card %}{% include 'inventar/tabs/sim-card.html' %}{% endblock %}
    </div>
    <div class="tab-pane fade {% if active_tab == 'key' %} show active {% endif %}" id="key" role="tabpanel"
         aria-labelledby="key-tab">
        {% block key %}{% include 'inventar/tabs/key.html' %}{% endblock %}
    </div>
    <div class="tab-pane fade {% if active_tab == 'others' %} show active {% endif %}" id="others" role="tabpanel"
         aria-labelledby="others-tab">
        {% block others %}{% include 'inventar/tabs/others.html' %}{% endblock %}
    </div>
</div>
{% endblock %}