<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'inventarapp_xiv/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="/">Inventar-App</a>
    <span class="navbar-text">


      {% if request.user.is_authenticated %}
        <a href="/administration" class="btn btn-dark">Verwaltung</a>
        <a href="/material-handover" class="btn btn-dark">Materialübergabe</a>
        <a href="{% url 'inventar:logout' %}" class="btn btn-danger">logout</a>

      {% else %}
      <a href="{% url 'inventar:login' %}" class="btn btn-success">login</a>
      <a href="{% url 'inventar:register' %}" class="btn btn-secondary">Account Anlegen</a>
      {% endif %}
    </span>

</nav>

<div class="container-fluid">
    <div class="col" >
        <div>
            {% block authForm %}
            <div>
                <h2> Willkommen in den Inventarlisten </h2>
            </div>
            {% endblock %}
        </div>
    </div>
</div>

</body>

</html>