{% extends "inventar/base.html" %}
{% load bootstrap4 %}

{% block title %} login{% endblock %}

{% block authForm %}

<div class="d-flex justify-content-center p-4">
    <form action="" method="post">{% csrf_token %}
        <p>Möchten Sie wirklich "{{ object }}" löschen?</p>
        <input type="submit" value="Bestätigen" />
        <input type="submit" name="cancel" value="Abbrechen" />
    </form>
</div>
{% endblock %}
