{% extends "inventar/base.html" %}
{% load bootstrap4 %}

{% block title %} login{% endblock %}

{% block authForm %}

<div class="d-flex justify-content-center p-4">
    <form method="post" class="m-1">{% csrf_token %}
        {% for field in form %}
        <div class="form-group{% if field.errors %} invalid{% endif %} d-flex flex-row align-items-center align-content-center justify-content-between">
            <label><strong>{{ field.label }}</strong></label>
            {{ field }}
            {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="d-flex flex-row align-items-center justify-content-end mt-5">
            <a class="p-3" href="{% url 'inventar:administration' %}">
                <button type="button" class="btn btn-light"><strong>Zurück</strong></button>
            </a>
            <button class="btn btn-primary" type="submit">Bearbeiten</button>
        </div>
    </form>
</div>
{% endblock %}
