{% extends "inventar/base.html" %}
{% load bootstrap4 %}

{% block title %} login{% endblock %}

{% block authForm %}


<form method="POST" action="">
    {% csrf_token %}
    {% bootstrap_form login_form %}
    <button type="submit" class="btn btn-dark">login</button>
</form>


{% endblock %}
