{% extends 'inventar/base.html' %}
{% load bootstrap_icons %}
{% load bootstrap4 %}

{% block title %} Materialübergabe {% endblock %}

{% block authForm %}
<a class="col-3 d-flex justify-content-start" style="margin: 3rem 0 16px 0;" href="{% url 'inventar:material-handover-create' %}"
   style="color: #ffffff; text-decoration: none">
    <button type="button" class="btn btn-secondary">
        {% bs_icon 'plus' size='1.5em' %} Materialübergabe
    </button>
</a>

<table class="table table-sm table-striped">
    <thead style="color: #305695">
    <tr>
        <th scope="col"></th>
        <th scope="col">employee</th>
        <th scope="col">created_date</th>
        <th scope="col">returning_date</th>
        <th scope="col">actions</th>
    </tr>
    </thead>
    <tbody>
    {% for mh in material_handovers %}
    <tr>
        <th scope="row">
            {% bs_icon 'clipboard' size='1.5em' %}
        </th>
        <th scope="row">{{ mh.employee}}</th>
        <td>{{ mh.created_date }}</td>
        <td>{{ mh.returning_date }}</td>
        <td>
            <a href="{% url 'inventar:material-handover-edit' mh.id %}" style="color: #305695">
                {% bs_icon 'pen' size='1.5em' %}
            </a>
            <a href="{% url 'inventar:material-handover-delete' mh.id%}" style="color: #c71b1b">
                {% bs_icon 'trash' size='1.5em' %}
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}