{% extends "inventar/base.html" %}
{% load bootstrap4 %}

{% block title %} Konto anlegen{% endblock %}

{% block authForm %}

<form method="POST" action="">
    {% csrf_token %}
    {% bootstrap_form register_form %}

    <button type="submit" class="btn btn-dark">Konto anlegen</button>
</form>


{% endblock %}